body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.301)), url(images/view-kids-practicing-health-wellness-activity.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

div .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}