*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

.all-line{
    display: flex;
    flex-direction: column;
    height: 110vh;
}

.tete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(176, 238, 100);
    /* font-size: 1.5rem; */
    height: 70px;
}

.tete .search form #recherche{
    padding: 10px;
    border: 50px solid #db4b4b;
    border-radius: 29px;
    height: 25px;
    font-size: 35px;
    background-attachment: fixed;
    border: none;
}

.tete .search form #recherchez{
    background-color: #db4b4ba1;
    border: 1px solid red;
    border-radius: 4px;
    /* height: 30px;
    width: 30px; */
    text-align: center;
    padding: 4px;
    /* display: flex; */
    /* align-items: center; */
}

/* span{
    padding-top: 10px;
    padding-left: 10px;
} */


/* MAIN CONTENT */

.main-body{
    display: flex;
    flex-direction: row;
    /* margin-top: 30px; */
    /* padding-top: 30px; */
    height: 100%;
}

.main-body .navigation{
    width: 180px;
    height: 100%;
    /* border-right: 3px solid red; */
    background-color: #a3e0a8;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    box-shadow: 3px 3px 6px #e5e5e5b4;
}

ol{
    display: list-item;
    /* position: relative; */
    border: none;
    padding-top: 20px;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}

li{
    padding: 0 10px 15px 10px;
    border: none;
    font-size: 1.2em;
    font-family: cursive;
    text-decoration: none;
    color: red;
    font-weight: 800;
    
}

.navigation a{
    text-decoration: none;
    transition: 7ms;
    background-color: rgb(127, 255, 144);
}

.navigation a:hover{
    text-decoration: underline;
}

/* CONTENTTS */

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content .welcome{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linea (135deg, #30f15a, #FFFFFF); 
    font-family: Arial, sans-serif;
}

.form {
    background-color: rgba(0, rgb(236, 250, 236), rgb(70, 224, 96), alpha); /* fond blanc translucide pour le formulaire*/
    padding: 100px solid #000;
    border:100%;
    box-shadow: 0 4PX 8PX rgb(0, 0, 0, 0.2);
    max-width: 50PX;
    width: 1000px;
}

.h2 {
    text-shadow: center;
    margin-top: 10px;
    color: #37f150;
}

.label{
    display: block;
    margin-top: 10px;
    margin-bottom: 35PX;
    font-weight: bold;
}

.input[type="text"], .input[type="email"], .input[type="submit"]{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.input[type="submit"] {
    margin-top: 10px;
    background-color: #29ca31;
    color: white;
    border: none;
    cursor: pointer;
}

.input[type="submit"] :hover{
    background-color: #29ee44;
}

.button{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover{
    background-color:#45a049;
}